.u-section-1 .u-sheet-1 {
  min-height: 758px;
}

.u-section-1 .u-checkout-1 {
  min-height: 757px;
  height: auto;
  margin-top: -14px;
  margin-bottom: 15px;
}

.u-section-1 .u-table-cell-1 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-3 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-4 {
  font-weight: 700;
}

.u-section-1 .u-btn-1 {
  margin-top: 20px;
}